<template>
    <div id="app" class="container my-5">
        <div class="row mb-5">
            <div class="col-md-9">
                <h1>PC Shop</h1>
            </div>
            <div class="col-md-3 row justify-content-end">
                <ShoppingCart />
            </div>
        </div>
        <div class="row">
            <Item
                    v-for="item in forSale"
                    :key="item.invId"
                    :invId="item.invId"
                    :name="item.name"
                    :image="item.image"
                    :price="item.price" />
        </div>
    </div>
</template>

<script>
    import Item from './Item.vue';
    import ShoppingCart from './ShoppingCart.vue';

    export default {
        name: 'app',
        computed: {
            forSale() { return this.$store.getters.forSale; },
        },
        components: {
            Item,
            ShoppingCart,
        },
    };
</script>

<style>

</style>